<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password Instruction</title>
</head>
<body>

    <h1>Forgot Password Instruction - Pheasant</h1>

    <p>
        Hi {{ .user.FullName }},
    </p>

    <p>
        Please follow this link in order to reset your password on Pheasant Platform.
    </p>

    <p>
        <a href="{{ .resetPasswordUrl }}">Reset Password on Pheasant</a> or copy/paste this link to the browser: {{ .resetPasswordUrl }}
    </p>

    <p>
        Thank you!
    </p>

</body>
</html>